<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arui.mall.product.mapper.PlatformPropertyNameMapper">

    <resultMap id="platformPropertyMap" type="com.arui.mall.model.pojo.vo.PlatformPropertyVO" autoMapping="true">
        <id property="id" column="id"></id>

        <collection property="platformPropertyValueVOList" ofType="com.arui.mall.model.pojo.vo.PlatformPropertyValueVO" autoMapping="true">
            <id property="id" column="property_value_id"></id>
        </collection>
    </resultMap>

    <select id="getPlatformPropertyByCategoryId" resultMap="platformPropertyMap">
    select
    a.id,
    a.property_key,
    a.category_id,
    a.category_level,
    b.id property_value_id,
    b.property_value,
    b.property_key_id

    from platform_property_name a
    inner join platform_property_value b on a.id=b.property_key_id
    <where>
        <!--如果有一级分类id 不为0代表有值-->
        <if test="category1Id!=null and category1Id!=0">
            or (a.category_id=#{category1Id} and category_level=1)
        </if>
        <!--如果有一级分类id 不为0代表有值-->
        <if test="category2Id!=null and category2Id!=0">
            or (a.category_id=#{category2Id} and category_level=2)
        </if>
        <!--如果有一级分类id 不为0代表有值-->
        <if test="category3Id!=null and category3Id!=0">
            or (a.category_id=#{category3Id} and category_level=3)
        </if>
    </where>
    </select>
</mapper>
