<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arui.mall.product.mapper.SpuSalePropertyNameMapper">


    <resultMap id="salePropertyMap" type="com.arui.mall.model.pojo.entity.SpuSalePropertyName" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="salePropertyValueList" ofType="com.arui.mall.model.pojo.entity.SpuSalePropertyValue"
                    autoMapping="true">
            <id property="id" column="sale_property_value_id"></id>
        </collection>
    </resultMap>

    <select id="querySalePropertyByProductId" resultMap="salePropertyMap">
        SELECT
        n.id,
        n.spu_id,
        n.sale_property_key_id,
        v.id sale_property_value_id,
        v.spu_id,
        v.sale_property_key_name,
        sale_property_value_name
        FROM
            `spu_sale_property_value` v
            JOIN `spu_sale_property_name` n
            ON v.sale_property_key_id = n.sale_property_key_id
            AND v.spu_id = n.spu_id
        WHERE
            n.spu_id = #{productId}
    </select>




    <resultMap id="spuSalePropertyAndSelected" type="com.arui.mall.model.pojo.entity.SpuSalePropertyName" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="salePropertyValueList" ofType="com.arui.mall.model.pojo.entity.SpuSalePropertyValue" autoMapping="true">
            <id property="id" column="sale_property_value_id"></id>
        </collection>
    </resultMap>

    <!-- 根据skuId，spuId查询spu销售属性和选中的sku销售属性-->
    <select id="getSpuSPNAndSkuSPNSelected" resultMap="spuSalePropertyAndSelected">
        SELECT
            a.id,
            a.spu_id,
            a.sale_property_key_id,
            a.sale_property_key_name,
            b.id sale_property_value_id,
            b.sale_property_value_name,
        IF
            ( c.sku_id IS NULL, 0, 1 ) is_selected
        FROM
            spu_sale_property_name a
            JOIN spu_sale_property_value b ON a.spu_id = b.spu_id
            AND a.sale_property_key_id = b.sale_property_key_id
            LEFT JOIN sku_sale_property_value c ON c.sale_property_value_id = b.id
            AND c.sku_id = #{skuId}
        WHERE
            a.spu_id = #{spuId}
    </select>
</mapper>
